    <div class="background">

        <div class="main-flex">

            <div class="balloons">
                <div class="balloon-1"></div>
                <div class="balloon-1-light"></div>
                <div class="balloon-1-light-blur"></div>
                <div class="flame"></div>
                <div class="flame-blur"></div>
                <div class="balloon-2"></div>
                <div class="balloon-3"></div>
            </div>

            <div class="text">
                <h1>Under maintenance</h1>
                <h2>We're updating site. </h2>
                <p>We hope that within a few hours</p>
                <p>it will be available again.</p>
                <input type="button" class="btn-return" value="return" onclick="history.back(-1)">
            </div>
        </div>
    </div>